.header {
	font-weight: 700;
	font-size: 48px;
}

.subheader {
	font-weight: 600;
	font-size: 36px;
}

.title {
	font-weight: 500;
	font-size: 24px;
}

.subtitle {
	font-weight: 500;
	font-size: 20px;
}

.paragraph {
	font-weight: 400;
	font-size: 18px;
}

.caption {
	font-weight: 500;
	font-size: 16px;
}